body {
    background-color: #e9ecef;
    color: #212529;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #007bff;
}

.agreement-text {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #343a40;
    color: #f8f9fa;
    padding: 20px 0;
}

.footer-about a {
    color: #f8f9fa;
}

.footer-contact p {
    margin: 5px 0;
    color: #f8f9fa;
} 