<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ZeniX » Главная</title>
    <meta name="description" content="Zenix - Ваш лучший клиент для Minecraft. Играйте без забот, наслаждаясь каждым моментом.">
    <meta name="keywords" content="minecraft, клиент, zenix, скачать">

    <link rel="icon" type="image/png" href="img/logo.png" />

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>

<body class="index-page">

<header>
    <div th:replace="fragments/header :: header"> <!-- Предполагается использование шаблонизатора -->
        <header id="header" class="header d-flex align-items-center fixed-top">
            <div class="container-fluid container-xl position-relative d-flex align-items-center">

                <a href="index.html" class="logo d-flex align-items-center me-auto">
                    <img src="img/logo.png" alt="Логотип Zenix">
                    <h1>ZeniX</h1>
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="#hero">Главная</a></li>
                        <li><a href="#documents">Документы</a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>
        </header>
    </div>
</header>

<main class="main">

    <section id="hero" class="hero section">
        <div class="container">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-aos="zoom-out">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h3 class="display-6 fw-bold lh-1 mb-3">Ваш лучший клиент для Minecraft</h3>
                    <p class="lead">Играйте без забот, наслаждаясь каждым моментом. Наш клиент разработан для вашего комфорта и удовольствия.</p>
                    <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
                        <a href="download.html" class="btn-get-started">Начать<i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-10 col-sm-8 col-lg-6 d-none d-md-block">
                    <img src="img/logo.png" class="d-block mx-lg-auto img-fluid animated" alt="Zenix Logo" loading="lazy" width="400">
                </div>
            </div>
        </div>
    </section>

    <section id="alt-features" class="alt-features section">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>Наши преимущества</h2>
                <p>Краткое описание наших преимуществ</p>
            </div>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item">
                        <i class="bi bi-download"></i>
                        <h4>Простая установка</h4>
                        <p>Полный пакет инструкций для установки клиента.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item">
                        <i class="bi bi-terminal"></i>
                        <h4>Интерактивность</h4>
                        <p>Играйте где угодно, благодаря гибким настройкам.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-item">
                        <i class="bi bi-shield"></i>
                        <h4>Надёжность</h4>
                        <p>Максимальная защита от взломов и регулярные обновления.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="faq" class="faq section">
        <div class="container section-title" data-aos="fade-up">
            <h2>F.A.Q</h2>
            <p>Часто задаваемые вопросы</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="faq-container">
                        <div class="faq-item">
                            <h3>Как начать использовать клиент?</h3>
                            <div class="faq-content">
                                <p>Просто скачайте клиент, следуйте инструкциям по установке, и вы сможете начать играть.</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="faq-container">
                        <div class="faq-item">
                            <h3>Где находится поддержка?</h3>
                            <div class="faq-content">
                                <p>Вся поддержка осуществляется на нашем сервере Discord.</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="documents" class="section">
        <div class="container section-title" data-aos="fade-up">
            <h2>Документы</h2>
            <p>Важные документы, регламентирующие использование сервиса</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="eula.html" class="document-link">Пользовательское соглашение</a>
                </div>
                <div class="col-md-6">
                    <a href="privacy_policy.html" class="document-link">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>
    <div th:replace="fragments/footer :: footer">
        <footer id="footer" class="footer">
            <div class="container footer-top">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6 footer-about">
                        <a href="index.html" class="d-flex align-items-center">
                            <span>ZeniX</span>
                        </a>
                        <div class="footer-contact pt-3">
                            <p>Наш продукт не связан с MojangAB</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 footer-links">
                        <h4>Навигация</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#hero">Главная</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#faq">Вопросы</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#alt-features">Наши качества</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-3 footer-links">
                        <h4>Документы</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="eula.html">Пользовательское соглашение</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="privacy_policy.html">Обработка данных</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <h4>Наши социальные сети</h4>
                        <p>Здесь мы собрали все наши официальные социальные сети, мы будем очень рады вашей подписке.</p>
                        <div class="social-links d-flex">
                            <a href="https://www.youtube.com/@ZeniX11111" target="_blank"><i class="bi bi-youtube"></i></a>
                            <a href="https://t.me/ZeniX_recode" target="_blank"><i class="bi bi-telegram"></i></a>
                            <a href="https://discord.gg/uE9XTJg9DE" target="_blank"><i class="bi bi-discord"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container copyright text-center mt-4">
                <p>© <span>Copyright</span> <strong class="px-1 sitename">ZeniX</strong><span> All Rights Reserved</span></p>
            </div>
        </footer>
    </div>
</footer>

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/aos/aos.js"></script>
<script src="vendor/glightbox/js/glightbox.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>